<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>list!</title>
</head>
<body>
	
	<h1>Listagem de Pessoas</h1>
	
	<table>
	    <tr>
		    <th>ID</th>
		    <th>Nome</th>
		    <th>Data Nascimento</th>
		    <th>Sexo</th>
	    </tr>
	     <tr th:each="pessoa: ${pessoas}">
		    <td th:text="${pessoa.id}"></td>
		    <td th:text="${pessoa.nome}"></td>
		    <td th:text="${pessoa.dataNasc}"></td>
		    <td th:switch="${pessoa.sexo.name()}">
		    	<span th:case="'M'" th:text="Masculino"></span>
		    	<span th:case="'F'" th:text="Feminino"></span>	    
		    </td>
	    </tr>
    </table>

</body>
</html>